/* Your main CSS file */
@tailwind base;
@tailwind components;
@tailwind utilities;

.input-field {
    padding: 0.5rem;
    border: 1px solid #045ce0; 
    border-radius: 0.375rem; 
    outline: none;
}

.input-field:focus {
    border-color: #02183b;
    
}



.btn {
    padding: 0.5rem 1rem; 
    background-color: #011b55; 
    color: white; 
    border: none; 
    border-radius: 0.375rem; 
    font-weight: 600; 
    cursor: pointer; 
    transition: background-color 0.2s ease, transform 0.2s ease; 
  }
  
  .btn:hover {
    background-color: #1e3a8a; 
  }

  
  .btn:active {
    transform: scale(0.98); 
  }
  
  .hide-scrollbar {
    scrollbar-width: 1px; 
  }
  
  .hide-scrollbar::-webkit-scrollbar {
    display: thin;
  }

  .hide-scrollbar::-webkit-scrollbar-button {
    width: 0; 
    height: 0;
  }